# Food security

In [175]:
import requests
from requests.auth import HTTPBasicAuth
from requests.adapters import HTTPAdapter
from requests.packages.urllib3.util.retry import Retry
import pandas as pd
from platform import python_version
print("python version: %s"%python_version())

python version: 3.8.2

### Total population
The population of each region can be retrieved from a csv file that can be fetched from a url that does not require a token.

In [252]:
url_total_population = 'https://api.hungermapdata.org/swe-notifications/population.csv'
total_population = pd.read_csv(url_total_population)
region_ids = total_population['region_id']
population = total_population['population']

In [254]:
tot_regions = len(region_ids)
tot_regions

4288

In [315]:
region_ids[:3]

0    272
1    273
2    274
Name: region_id, dtype: int64

### Retrieve token
A function that implements a http request to retrieve a token and set up the headers to be used for secured API calls

In [450]:
def get_token():
    response_auth = requests.post('https://api.hungermapdata.org/swe-notifications/token', auth=HTTPBasicAuth('my_username', 'my_token'))
    response_data = response_auth.json()
    auth_token = response_data["token"]
    expire = response_data["expire"]
    headers = {'Authorization' : 'Bearer ' + auth_token }
    return headers

In [15]:
print(get_token())

{'Authorization': 'Bearer d02a5bc90fbe15708b833c5f857b6784'}

### Countries
We retrieve the ids of the countries to which the regions belongs

In [19]:
def fetch(session, region_id):
    base_url = "https://api.hungermapdata.org/swe-notifications/region/"
    with session.get(base_url + str(region_id) + '/country') as response:
        country_id = response.json()['country_id']
        if response.status_code != 200:
            print("FAILURE::{0}".format(url))
        # Returns the country id
        return country_id

#### Sync requests
We use synchronous requests. A better choice would be to use asynchronous requests but the goal here is to implement a quick solution.

In [20]:
def get_regions_countries(start, end):
    regions_countries = []
    with requests.Session() as session:
        session.headers.update(get_token())
        for i in range(start, end):
            region_id = region_ids[i]
            country_id = fetch(session, region_id)
            regions_countries.append((region_id, country_id))
    return regions_countries

We use multiple requests since the token lasts only 3 minutes.

In [27]:
countries = get_regions_countries(0, 1000)
len(countries)

1000

In [29]:
countries1 = get_regions_countries(1000, 2000)
len(countries1)

1000

In [35]:
countries2 = get_regions_countries(2000, 3000)
len(countries2)

1000

In [36]:
countries3 = get_regions_countries(3000, 4000)
len(countries3)

1000

In [40]:
countries4 = get_regions_countries(4000, tot_regions)
len(countries4)

288

In [95]:
countries[:]
region_countries = []
for i in range(0, 1000):
    region_countries.append(countries[i])
for i in range(0, 1000):
    region_countries.append(countries1[i])
for i in range(0, 1000):
    region_countries.append(countries2[i])
for i in range(0, 1000):
    region_countries.append(countries3[i])
for i in range(0, 288):
    region_countries.append(countries[i])
len(region_countries)

4288

In [318]:
total_population['country_id'] = 0
total_population[:3]

   region_id  population  country_id
0        272     1241185           0
1        273      656495           0
2        274      970010           0

In [320]:
for i in range(0, len(region_countries)):
    total_population['country_id'][i] = region_countries[i][1]

In [326]:
total_population[100:120]

     region_id  population  country_id
100        336       10028           3
101        337       12956           3
102        338      945274           3
103        339       17411           3
104        340      112879           3
105        341      546381           4
106        342      923038           4
107        343      433014           4
108        344     4279872           4
109        345      817116           4
110        346     1497023           4
111        347      336555           4
112        348      988261           4
113        349     1007454           4
114        350     1433086           4
115        351      745206           4
116        352      798676           4
117        353     1059773           4
118        354     1206212           4
119        355     1250228           4

We save the population data with the country ids into a csv file so we do not have to request it again.

In [173]:
total_population.to_csv('statistics.csv')

We compute the population for each country

In [241]:
country_ids = total_population['country_id'].unique()
len(country_ids)

242

In [190]:
population_per_country = []
for i in range(0, len(country_ids)):
    country_id = country_ids[i]
    country_population = total_population[total_population['country_id'] == country_id]['population'].sum()
    population_per_country.append((country_id, country_population))

In [348]:
population_per_country[:3]

[(1, 194366620), (2, 3641953), (3, 11061571)]

### Regions
We can call an APi to retrieve the ids of the regions that belong to a country. This APi is not used since we can get the country ids from the other API.

In [213]:
def get_regions_per_country(country_id):
    countries = []
    url_regions = 'https://api.hungermapdata.org/swe-notifications/country/' + str(country_id) + '/regions'
    response = requests.get(url_regions, headers=get_token())
    response.raise_for_status()
    regions = response.json()
    countries.append((country_id, regions))
    return countries

### Current food security
This APi can be used to fetch the number of the people that is currently at risk of food insecurity in each region.

In [205]:
url_food_security = 'https://api.hungermapdata.org/swe-notifications/foodsecurity'
food_security_data = None
try:
    response = requests.get(url_food_security, headers=get_token())
    response.raise_for_status()
    food_security_data = response.json()
except requests.exceptions.HTTPError as error:
    print(error)

We compute the number of current food insecure people per country

In [417]:
food_security_df = pd.DataFrame(food_security_data)
food_security_df[:3]

   region_id  food_insecure_people
0        341                 52490
1        342                 92101
2        343                 43206

In [418]:
food_security_df['country_id'] = 0

We add the country id to each region in the current food insecure data

In [419]:
food_region_ids = food_security_df['region_id']
for i in range(0, len(food_region_ids)):
    region_id = food_region_ids[i]
    country_id = total_population[total_population['region_id'] == region_id]['country_id'].item()
    food_security_df['country_id'][i] = country_id

In [420]:
food_security_df[:3]

   region_id  food_insecure_people  country_id
0        341                 52490           4
1        342                 92101           4
2        343                 43206           4

In [376]:
food_insecure_pop_per_country = []
for i in range(0, len(country_ids)):
    country_id = country_ids[i]
    country_food_insecure_pop = food_security_df[food_security_df['country_id'] == country_id]['food_insecure_people'].sum()
    food_insecure_pop_per_country.append((country_id, country_food_insecure_pop))

In [378]:
food_insecure_pop_per_country[:3]

[(1, 52677933), (2, 478037), (3, 498448)]

### Past food security
This APi can be used to fetch the number of the people that 30 days ago were at risk of food insecurity in each region. If there is an increase above 5% of the percentage of the current number of people at risk of food insecurity over the population of a country from the percentage 30 days before, an alert is raised.

In [438]:
url_food_security = 'https://api.hungermapdata.org/swe-notifications/foodsecurity'
past_food_security_data = None
try:
    response = requests.get(url_food_security, params={'days_ago': '30'}, headers=get_token())
    response.raise_for_status()
    past_food_security_data = response.json()
except requests.exceptions.HTTPError as error:
    print(error)

In [439]:
past_food_security_df = pd.DataFrame(past_food_security_data)
past_food_security_df[:3]

   region_id  food_insecure_people
0        341                 52439
1        342                 92101
2        343                 42383

In [440]:
past_food_security_df['country_id'] = 0

In [441]:
past_food_region_ids = past_food_security_df['region_id']
for i in range(0, len(past_food_region_ids)):
    region_id = past_food_region_ids[i]
    country_id = total_population[total_population['region_id'] == region_id]['country_id'].item()
    past_food_security_df['country_id'][i] = country_id

In [442]:
past_food_security_df[:3]

   region_id  food_insecure_people  country_id
0        341                 52439           4
1        342                 92101           4
2        343                 42383           4

In [443]:
past_food_insecure_pop_per_country = []
for i in range(0, len(country_ids)):
    country_id = country_ids[i]
    past_country_food_insecure_pop = past_food_security_df[past_food_security_df['country_id'] == country_id]['food_insecure_people'].sum()
    past_food_insecure_pop_per_country.append((country_id, past_country_food_insecure_pop))

In [444]:
past_food_insecure_pop_per_country[:3]

[(1, 51719495), (2, 478037), (3, 498448)]

In [449]:
for i in range(0, len(food_insecure_pop_per_country)):
    country_id = food_insecure_pop_per_country[i][0]
    population = population_per_country[i][1]
    
    food_insecure_pop = food_insecure_pop_per_country[i][1]
    perc_food_insecure = food_insecure_pop * 100 / population 
    
    past_food_insecure_pop = past_food_insecure_pop_per_country[i][1]
    perc_past_food_insecure = past_food_insecure_pop * 100 / population
    if perc_past_food_insecure - perc_food_insecure >= 5.0:
        print(country_id)